<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yiping Cheng's Games Center</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="top-section">
            <h1 class="top-heading">Yiping Cheng's Games Center</h1>
            <div class="menu">
                <ul>
                    <li>
                        <a href="/play">Play</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>			
        </div>
        <div class="bottom-section">
            <div class="three-part-container">
                <iframe class="left-iframe" src="/static/rules.txt"></iframe>
                <div class="center-block"></div>
                <iframe class="right-iframe" src="about:blank"></iframe>
            </div>
        </div>
    </div>
</body>
</html>